body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

nav{
    width: 25%;
    height: 100%;
    border: 2px solid rgb(100, 99, 99);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
}

main{
    margin-left: 25%;
    width:60%;
    padding: 2% 2% 2% 5%;
}

#navbar > header > h1, nav > ul > li {
    max-width: 100%;
    border-bottom: 0.5px solid rgb(100, 99, 99);
}

nav > ul{
    padding-left: 0;
    height: 100vh;
    overflow: scroll;
}

nav > ul > li {
    list-style-type: none;
    padding:4%;

}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

code > p{
    background-color: rgb(226, 226, 226);
    font-size: 1rem;
    padding:2%;
}

@media (max-width : 550px) {

    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right:1%;
        margin: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }


    nav{
        width: 100%;
        padding:0;
        border: 2px solid rgb(100, 99, 99);
        position: relative;
    }

    main{
        width: 95%;
        margin:0 auto;
        padding: 4%;
    }
    
    
    #navbar > header > h1, nav > ul > li {
        /* width: 100vw; */
        border-bottom: 2px solid rgb(100, 99, 99);
    }
    
    nav > ul > li {
        list-style-type: none;
        padding:4%;
    }
    
    nav > ul > li > a{
        text-decoration: none;
        color: black;
    }

    nav > ul{
        width: 100vw;
        padding-left: 0;
        height: 300px;
        overflow: scroll;
    }
}